@font-face{

    src: url('../fonts/Roboto-Regular.ttf');
    font-family: 'Roboto';

}

*{
    
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto;
    
}

.wrap{
    
    max-width: 390px;
}

header{
    
    width: 360px;
    position: fixed;
    background-color: #1565C0;
    height: 55px;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 2px black;
    padding-top: 5px;
   
}

header .logo{
    
    font-size: 30px;
    color: white;
    position: absolute;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    margin-top: 6px;
    
}

header button.settings{
    
    display: block;
    position: absolute;
    left: 100%;
    width: 50px;
    height: 50px;
    background: url(../imgs/settings.png) no-repeat center center;
    margin-left: -50px;
    border: 0;
    background-size: 70% 70%;
    
}

header button.back-screen{

    display: block;
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    background: url(../imgs/arrow-left.png) no-repeat center center;
    border: 0;
    background-size: 70% 70%;

}



.page{
    
    opacity: 0;
    width: 360px;
    height: auto;
    margin-top: 50px;
    -webkit-transition-duration: .3s;
    position: absolute;
    top: auto;
    left: auto;
    
}

.page-name{
    
    font-size: 30px;
    padding: 30px 0px 20px 20px;
    width: 270px;
    
}

.page-name small{
    
    font-size: 17px;
    color: grey;
    
}

.page .nav-btn{
    
    width: 155px;
    margin: 0 0 15px 15px;
    height: 120px;
    display: inline-block;
    -webkit-transition-duration: .3s;
    vertical-align: top;
    
}

.page .container .nav-btn{

    background-color: #1E88E5;
    box-shadow: 0 0 3px #444;

}

.nav-btn .name{
    
    width: inherit;
    text-align: center;
    font-size: 22px;
    color: white;
    margin-top: 45px;
    -webkit-transition-duration: .3s;
    
}

.page .no-click{
    
    width: inherit;
    height: inherit;
    position: absolute;
    left: auto;
    top: auto;
    z-index: 2;
    display: none;
    
}

.page .nav-btn .nav-btn-del{
    
    position: absolute;
    left: auto;
    top: auto;
    display: block;
    width: 155px;
    height: 120px;
    background-image: url(../imgs/delete.png);
    background-size: 20px auto;
    background-position: 125px 10px;
    background-repeat: no-repeat;
    background-color: transparent;
    -webkit-transition-duration: .3s;
    border: 0;
    opacity: 0;
    display: none;
    
}

.page .nav-btn .askDel{
    
    position: absolute;
    left: auto;
    top: auto;
    display: block;
    width: 155px;
    height: 120px;
    background: transparent;
    -webkit-transition-duration: .3s;
    border: 0;
    font-size: 20px;
    text-align: center;
    color: white;
    opacity: 0;
    display: none;
    z-index: 3;
    
}

.page .nav-btn .askDel .yes,
.page .nav-btn .askDel .no{
    
    background-image: url('../imgs/check.png');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: auto;
    top: auto;
    margin: 0px 0px 0px 0px;
    border: 0;
    background-color: transparent;
    
}

.page [data-del] .nav-btn-del{
    
    background-image: url('../imgs/close.png');
    
}

.page .nav-btn .askDel .no{

    background-image: url('../imgs/close.png');

    margin: 0px 0px 0px 115px;

}

.page .nav-btn .askDel span{
    font-size: 16px;
    margin-top: 15px;
    display: block;
}



[data-new],
[data-del]{
    
    background: url('../imgs/plus.png') no-repeat;
    background-position: center center;
    background-color: #E0E0E0;
    background-size: 30% auto;
    box-shadow: 0 0 3px #888;
    
}

[data-del]{
    
    background-image: url('../imgs/delete.png');
   
}

#groups{
    display: none;
}

#study{
    display: none;
}

#addnewstudy{
/*    display: none;*/
}

#settings{
    display: none;
}

.page{
    display: none;
}

[data-back]{
    
    display: none;
    
}


/*    */

.form-group input[type="text"]{
    
    padding: 8px 5px;
    font-size: 18px;
    background: white;
    box-shadow: 0 0 2px #ccc;
    width: 290px;
    border: 0;
    
}

.form-group{
    
    text-align: justify;
    width: 340px;
    margin-top: 20px;
    height: 70px;
    box-shadow: 0 0 3px #aaa;
    transition-duration: .3s;
    background: #eee;
    margin-left: 10px;
    
}

.form-group:first-of-type{
    
    margin-top: 0;
    
}

.form-group label{
    
    font-size: 22px;
    display: block;
    width: inherit;
    position: relative;
    top: 10px;
    left: 10px;
    
}

.form-group .form-wrap.input{
    
    display: inline-block;
    width: 0;
    overflow: hidden;
    background-color: #1E88E5;
    height: 70px;
    text-align: center;
    line-height: 70px;
    position: absolute;
    left: 10px;
    top: auto;
    transition-duration: .3s;
    z-index: 1;
    opacity: 0;
    
}

.form-group span.counter{
    
    display: block;
    position: absolute;
    width: 50px;
    height: 20px;
    font-size: 12px;
    color: #E53935;
    left: auto;
    top: auto;
    margin: 0px 0px 0px 273px;
    transition-duration: .3s;
    opacity: 0;
    
}

.form-group .current-value{
    
    color: #777;
    font-size: 18px;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    
}

.form-group .form-wrap input[type="checkbox"]{
    
    width: 25px;
    height: 25px;
    border: 0;
    position: absolute;
    left: 310px;
    margin-top: 10px;
    top: auto;
    
}

.form-group .form-wrap input[type="checkbox"]:before{
    
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url('../imgs/checkbox-blank-outline.png') no-repeat;
    background-size: 100% auto;
    background-color: #eee;
    
}

.form-group .form-wrap input[type="checkbox"]:after{
    
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background: url(../imgs/check-blue.png) no-repeat;
    background-size: 100% auto;
    background-color: transparent;
    position: absolute;
    margin-left: 20px;
    margin-top: -38px;
    opacity: 0;
    transition-duration: .2s;
    
}

.form-group .form-wrap input[type="checkbox"].check:after{

    opacity: 1;
    margin-left: 0;

}

.form-group select{

    padding: 6px;
    border: 0;
    background: transparent;
    color: #777;
    font-size: 18px;
    margin-top: 3px;

}

.ok-wrap{

    margin-top: 20px;
    width: inherit;
    text-align: center;
    margin-bottom: 20px;

}

button.ok{
    
    width: 100px;
    height: 50px;
    font-size: 20px;
    background: #1E88E5;
    border: 0;
    color: white;
    box-shadow: 0 0 3px #555;
    
}

.canvas-container{
    
    width: 360px;
    height: 430px;
    overflow-x: auto;
    
}

#main-canvas{
    
    height: 400px;
    
}

.form-edit{
    
    position: fixed;
    width: inherit;
    height: 10%;
    background-color: #1976D2;
    -webkit-transition-duration: .3s;
    opacity: 0;
    top: 60px;
    left: 0;
    display: none;
    
}

.form-edit input{
    
    margin: 20px 0 0 20px;
    padding-left: 5px;
    width: 260px;
    box-shadow: 0 0 3px #555;
    border: 0;
    padding: 8px 5px;
    font-size: 18px;
    
}

.form-edit button.save{
    
    width: 40px;
    height: 34px;
    position: relative;
    display: inline-block;
    top: 10px;
    left: 10px;
    border: 0;
    background-color: transparent;
    
    background-image: url('../imgs/check.png');
    
    background-size: 100% auto;
    background-repeat: no-repeat;
    
}

.pencil:after{
    
    content: '';
    display: inline-block;
    position: relative;
    top: 2px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: url(../imgs/pencil.png) no-repeat;
    background-size: 100% auto;
    
}

















