@font-face{

    src: url('../fonts/Roboto-Regular.ttf');
    font-family: 'Roboto';

}

*{
    
    padding: 0;
    margin: 0;
    outline: none !important;
    font-family: Roboto;
    
}

a{
    
    text-decoration: none;
    color: inherit;
    margin: inherit;
    
}

#settings a{
    
    margin-top: 20px;
    display: block;
    
}

.wrap{
    
    width: 100%;
}

header{
    
    width: 100%;
    position: fixed;
/*    background-color: #1565C0;*/
    background-color: #283593;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 2px black;
    padding-top: 5px;
   
}

header .logo{
    
    font-size: 25px;
    color: white;
    position: absolute;
    left: 50%;
    width: 60%;
    margin-left: -30%;
    text-align: center;
    margin-top: -18px;
    
}

header .logo img{
    
    width: 50px;
    height: 50px;
    position: relative;
    top: 15px;
    
}

header button.back-screen{

    display: none;
    position: absolute;
    left: 0;
    width: 55px;
    height: 55px;
    background-image: url(../imgs/arrow-left.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
    background-size: 60% auto;
    background-color: transparent;
    margin-top: -5px;

}



.page{
    
    opacity: 0;
    width: 100%;
    height: auto;
    margin-top: 55px;
    transition-duration: .2s;
    
}

.page-name{
    
    font-size: 23px;
    padding: 20px 0px 20px 5%;
    width: 70%;
    font-weight: normal;
    
}

.page-name small{
    
    font-size: 17px;
    color: grey;
    
}

.page .nav-btn{
    
    width: 155px;
    margin: 0 0 15px 15px;
    height: 120px;
    display: inline-block;
    transition-duration: .2s;
    vertical-align: top;
    
}

.page .container .nav-btn{

/*    background-color: #1E88E5;*/
    background-color: #3949AB;
    box-shadow: 0 0 1px #444;

}

.nav-btn .name{
    
    width: inherit;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: .2s;
    margin-top: 25px
    
}

#groups{
    display: none;
}

#study{
    display: none;
}

#addnewstudy{
/*    display: none;*/
}

#settings{
    display: none;
}

.page{
    display: none;
}

[data-back]{
    
    display: none;
    
}


/*    */

.form-group input[type="text"],
.form-group input[type="number"]{
    
    padding: 18px 10px;
    font-size: 18px;
    background: white;
    width: inherit;
    border: 0;
    position: relative;
    top: 1px;
    
}

.form-group{
    
    text-align: justify;
    width: 90%;
    margin-top: 20px;
    height: 70px;
    box-shadow: 0 0 1px #aaa;
    transition-duration: .2s;
    background: #eee;
    margin-left: 5%;
    
}

.form-group:first-of-type{
    
    margin-top: 0;
    
}

.form-group label{
    
    font-size: 19px;
    display: block;
    width: inherit;
    position: relative;
    top: 10px;
    left: 10px;
    
}

.form-group .form-wrap.input{
    
    display: inline-block;
    width: 0;
    overflow: hidden;
    background-color: white;
    height: 70px;
    text-align: center;
    line-height: 70px;
    position: absolute;
    left: 5%;
    top: auto;
    transition-duration: .3s;
    z-index: 1;
    opacity: 0;
    
}

.form-group span.counter{
    
    display: block;
    position: absolute;
    width: 50px;
    height: 20px;
    font-size: 12px;
    color: #E53935;
    left: 68%;
    top: auto;
    margin: 0px 0px 0px 23px;
    transition-duration: .3s;
    opacity: 0;
    
}

.form-group .current-value{
    
    color: #777;
    font-size: 16px;
    display: block;
    margin-top: 15px;
    margin-left: 10px;
    
}

.form-group .form-wrap input[type="checkbox"]{
    
    width: 25px;
    height: 25px;
    border: 0;
    position: absolute;
    left: 95%;
    margin-top: 10px;
    top: auto;
    margin-left: -40px;
    
}

.form-group .form-wrap input[type="checkbox"]:before{
    
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url('../imgs/checkbox-blank-outline.png') no-repeat;
    background-size: 100% auto;
    background-color: #eee;
    
}

.form-group .form-wrap input[type="checkbox"]:after{
    
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background: url(../imgs/check-blue.png) no-repeat;
    background-size: 100% auto;
    background-color: transparent;
    position: absolute;
    margin-left: 14px;
    margin-top: -38px;
    opacity: 0;
    transition-duration: .2s;
    
}

.form-group .form-wrap input[type="checkbox"].check:after{

    opacity: 1;
    margin-left: 0;

}

.form-group select{

    padding: 6px;
    border: 0;
    background: transparent;
    color: #777;
    font-size: 16px;
    margin-top: 10px;

}

.form-group:before{
    
    content: '!';
    display: block;
    position: absolute;
    left: 90%;
    top: auto;
    z-index: 0;
    font-size: 35px;
    color: #E53935;
    margin-top: 13px;
    transition-duration: .2s;
    opacity: 0;
    
}

.form-group.warning:before{
    
    opacity: 1;
    
}

.ok-wrap{

    margin-top: 20px;
    width: inherit;
    text-align: center;
    margin-bottom: 20px;

}

button.ok{
    
    width: 100px;
    height: 50px;
    font-size: 20px;
    background: #3949AB;
    border: 0;
    color: white;
    box-shadow: 0 0 1px #555;
    
}

.canvas-container{
    
    width: 100%;
    height: 437px;
    overflow-x: auto;
    
}

#main-canvas{
    
    height: 400px;
    
}

.form-edit{
    
    position: fixed;
    width: inherit;
    height: 10%;
/*    background-color: #1976D2;*/
    background-color: #3949AB;
    transition-duration: .3s;
    opacity: 0;
    top: 55px;
    left: 0;
    display: none;
    text-align: center;
    z-index: 5;
    
}

.form-edit input{
    
    margin: 20px 0 0 20px;
    padding-left: 5px;
    width: 70%;
    box-shadow: 0 0 3px #555;
    border: 0;
    padding: 8px 5px;
    font-size: 18px;
    
}

.form-edit button.save{
    
    width: 40px;
    height: 34px;
    position: relative;
    display: inline-block;
    top: 10px;
    left: 10px;
    border: 0;
    background-color: transparent;
    
    background-image: url('../imgs/check.png');
    
    background-size: 100% auto;
    background-repeat: no-repeat;
    
}

.pencil:after{
    
    content: '';
    display: inline-block;
    position: relative;
    top: 2px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: url(../imgs/pencil.png) no-repeat;
    background-size: 100% auto;
    
}

.search{
    
    display: none;
    
}

#showStats .average .form-group{
    
    height: 40px;
    width: 150px;
    position: absolute;
    left: 95%;
    margin-left: -145px;
    box-shadow: none;
    
}

#showStats .average{
    
    margin-left: 185px;
    
}

#average:after{
    
    margin-left: 0;
    
}

#showStats .average .current-value{
    
    display: none;
    
}

#showStats .average label{
    
    top: 8px;
    z-index: 0;
    
}

#average{
    
    margin-top: 5px;
    z-index: 0;
    margin-left: -30px;
    
}

.no-res{
    
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 18px;
    color: #999;
    line-height: 200px;
    
}

#showStats .unit{
    
    position: absolute;
    left: 5%;
    color: #999;
    font-size: 14px;
    margin-top: 10px;
    
}

#showStats .nav-btn{
    
    height: 40px;
    margin-left: 5%;
    
}

#showStats [name="period"]{
    
    height: 50px;
    background-color: #eee;
    border: 0;
    box-shadow: 0 0 1px #aaa;
    width: 90%;
    font-size: 18px;
    padding: 0 5px;
    margin-left: 5%;
    
}

.last-container{
    
    width: 100%;
    display: block;
    margin-bottom: 40px;
    
}

.last-container .time{
    
    position: absolute;
    left: 95%;
    margin: 19px 0px 0px -95px;
    width: 80px;
    color: #999;
    font-size: 13px;
    text-align: right;
    
}

.last-container .time span{
    
    display: block;
    margin-top: 5px;
    width: inherit;
    
}

.last-container .time span:before{
    
    content: '';
    display: block;
    position: absolute;
    margin: -1px 0px 0px 27px;
    background-image: url(../imgs/clock.png);
    background-size: 80% auto;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    
}

.last-container .current-value{
    
    font-size: 20px;
    color: black;
    height: 70px;
    line-height: 70px;
    max-width: 173px;
    overflow: hidden;
    
}

.last-container .warning:before{
    
    display: none;
    
}

.last-container .current-value:after{
    
    content: attr(data-unit);
    font-size: 16px;
    color: #999;
    width: 100px;
    height: 70px;
    top: 0px;
    background-size: 20px 20px;
    background-position: right center;
    margin-left: 10px;
    
}

.block-name{
    
    width: 90%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    color: black;
    font-size: 23px;
    margin-left: 5%;
    margin-top: 10px;
    
}

#showStats .time-btn-container{
    
    position: relative;
    left: 0;
    height: 40px;
    margin-top: -24px;
    
}

#showStats .time-btn-container .timestamp-btn{
    
    display: inline-block;
    margin-left: 23px;
    font-size: 10px;
    color: black;
    border: 0;
    padding: 3px;
    width: 85px;
    background: #eee;
    
}

#showStats .time-btn-container .timestamp-btn:first-of-type{
    
    margin-left: 70px;
    
}

.nav-btn .date-of-start{
    
    font-size: 10px;
    display: block;
    width: inherit;
    text-align: center;
    margin-top: 5px;
    
}

header button.btn-left-menu{
    
    background-image: url('../imgs/menu-white.png');
    display: block;
    
}

.left-menu{
    
    position: fixed;
    width: 0;
    background: white;
    height: 100%;
    overflow: auto;
    z-index: 1000;
    top: 0;
    left: 0;
/*    transition-duration: .2s;*/
    
    
}

.popup-background{
    
    position: fixed;
    left: 0;
    top: 0;
    transition-duration: .2s;
    background-color: rgba(0,0,0,.7);
    z-index: 500;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    
}

.left-menu .header{
    
    height: 150px;
    background-color: #5C6BC0;
    width: 300px;
    
}

.left-menu .group-list{
    
    margin-top: 40px;
    width: 300px;
    
}

.left-menu .list-caption{
    
    font-size: 18px;
    color: #999;
    margin-left: 20px;
    
}

.left-menu .group-list li,
.left-menu .other-list li
{

    font-size: 20px;
    color: black;
    
    margin-top: 20px;
    margin-left: 20px;
    list-style: none;
    
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px auto;

}

.left-menu .other-list{
    
    margin-top: 40px;
    
}

.left-menu li.label-style{
    
    background-image: url('../imgs/label.png');
    
}

.left-menu li.create-label{
    
    background-image: url('../imgs/plus-grey.png');
    
}

.left-menu li.settings{
    
    background-image: url('../imgs/settings.png');
    
}

.cm-down{
    
    position: fixed;
    left: 0;
    top: 100%;
    background: white;
    width: 100%;
    height: 60px;
    overflow: hidden;
    transition-duration: .2s;
    margin-top: 0;
    display: none;
    z-index: 1500;
    
}

.cm-down li{
    
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: black;
    padding-left: 20px;
    
}

.nav-btn .label-name{
    
    position: absolute;
    left: auto;
    top: auto;
    padding: 5px;
    color: white;
/*    background: #1565C0;*/
    background: #283593;
    margin: 91px 0px 0px 6px;
    font-size: 10px;
    opacity: 0.9;
    
}

header .add{
    
    background: url(../imgs/plus.png);
    background-position: center center;
    background-size: 70% auto;
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 0px;
    left: 100%;
    margin-left: -55px;
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    
}

.menu-left-swipe{
    
    position: fixed;
    width: 25px;
    top: 0;
    left: 0;
    height: 100%;
    background: transparent;
    
}

.left-menu li.allstudy{
    
    background-image: url('../imgs/chart-bubble.png');
    
}

.left-menu .label-edit{
    
    position: absolute;
    left: auto;
    top: auto;
    margin: -22px 0px 0px 240px;
    font-size: 18px;
    color: #999;
    border: 0;
    background: transparent;
    
}

#labels .form-group .current-value{
    
    height: 70px;
    line-height: 70px;
    font-size: 19px;
    color: black;
    
}

.left-menu .header .picture{
    
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 100%;
    position: relative;
    top: 20px;
    left: 20px;
    box-shadow: 0 0 1px #aaa;
    overflow: hidden;
    
}

.left-menu .header .user-name{
    
    position: relative;
    top: 40px;
    left: 20px;
    font-size: 18px;
    color: #ececec;
    
}

.left-menu .header .picture img{
    
    width: inherit;
    height: auto;
    
}












