<widget id="com.example.hello" version="0.0.1">
    <name>Any.Stats</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@callback.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    
    <preference name="Orientation" value="portrait" />
    
    
    <icon src="imgs/icon/ldpi.png" density="ldpi" />
    <icon src="imgs/icon/mdpi.png" density="mdpi" />
    <icon src="imgs/icon/hdpi.png" density="hdpi" />
    <icon src="imgs/icon/xhdpi.png" density="xhdpi" />
    
    <splash src="imgs/splash/hdpi.png" density="port-hdpi"/>
    <splash src="imgs/splash/mdpi.png" density="port-mdpi"/>
    <splash src="imgs/splash/xhdpi.png" density="port-xhdpi"/>
    
</widget>